$blue: #3c6e71;

.text {
    text-align: left;
    color: white;
    text-shadow: 1px 1px 5px $blue, -1px -1px 5px black ;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: (translate(-100%, -50%));
    padding: 2rem 5rem 2rem 5rem;
    font-size: 1.2rem;
}

.smallTitle {
    display: none;
}

.img {
    min-height: 600px;
}

.button {
    color: black;
    background-color: white;
    border: 2px solid black;
    margin: 1rem 0 0 0;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    background-color: $blue;
    color: white;
    border-radius: 2px solid white;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

@media screen and (max-width: 1325px) {
    .text {
        top: 50%;
        left: 50%;
        margin-right: 50%;
        transform: (translate(-70%, -50%));
    }
}

@media screen and (max-width: 900px) {
    .text {
        top: 50%;
        left: 50%;
        margin-right: 50%;
        transform: (translate(-50%, -50%));
    }
}

@media screen and (max-width: 900px) {
    .text {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .text {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }

    .bigTitle {
        display: none;
    }

    .smallTitle {
        display: flex;
    }
}
